<%- include("partials/header"); -%>
       
        <h1><%=home%></h1>
        <p><%=mybreif%></p>
        <br>

        <% post.forEach(function(BlogItem) { %>
          <h1><%= BlogItem.title  %></h1>
          <p><%= BlogItem.para %></p>
        <% }); %>
        
        
        
        <%- include("partials/footer"); -%>